.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 4rem;
    background: #f5f3ff;
    border-radius: 20px;
    width: 100%;
}

.stack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.title {
    font-size: 24pt;
    font-weight: bolder;
}

.clock {
    font-size: 36pt;
}

.button {
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 2rem;
    font-size: 14pt;
    font-weight: bolder;
}

.product-name {
    font-size: 16pt;
    font-weight: bold;
}

.container img {
    mix-blend-mode: multiply;
    height: 300px;
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}